<div class="nav signed-out-nav">
  <%= button_tag new_user_session_path, class: 'nav-item btn btn-primary-outline ' do %>
    Sign In
  <% end %>

  <%= button_tag new_user_registration_path, class: 'nav-item btn btn-primary-outline' do %>
    Register
  <% end %>
</div>
