<table id="dealsTable" class="table">
  <thead>
    <tr>
      <th>place</th>
      <th>title</th>
      <th>
        <a href="/sort_by_discount" data-remote="true">discount</a>
      </th>
      <th>description</th>
    </tr>
  </thead>

  <tbody>
    {{#each deals}}
    <tr>
      <th scope="row">{{beauty_place.name}}</th>
      <td>{{title}}</td>
      <td>{{discount}}</td>
      <td>{{description}}</td>
    </tr>
    {{/each}}
  </tbody>

</table>
