<h1>Search by State</h1>
<select name="deal[state]">
  <option>ny</option>
  <option>ca</option>
</select>
<button type="submit" name="submit">submit</button>
<%= <%= form_for @deal, action: '' do |f| %>
  <%= f.text_field :field_1 %>
<% end %> %>
