body {
  max-width: 60em;
  // text-align: center;
  @include make-container();
}

main {
  max-width: 60em;
  @include make-container();
}

.search-bar {
  @include make-row();
}

.search-form {
  text-align: center;
  @include make-col();

  @media (max-width: 33.9em) {
    @include make-col-span(6);
  }
  @media (max-width: 47.9.1em) {
    @include  make-col-span(8);
  }
  @media (max-width: 61.9em) {
    @include make-col-span(8);
  }
  @media (max-width: 74.9em) {
    @include make-col-span(10);
    @include make-col-offset(1);
  }
}

.sign-in-form, .sign-up-form {
  text-align: center;
}

.nav {
  @include make-col();

  @media (max-width: 33.9em) {
    @include make-col-span(6);
  }
  @media (max-width: 47.9.1em) {
    @include  make-col-span(8);
  }
  @media (max-width: 61.9em) {
    @include make-col-span(8);
  }
  @media (max-width: 74.9em) {
    padding-right: 0;
    @include make-col-span(5);
  }
}

.signed-out-nav, .signed-in-nav {
  float: right;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  // margin: 7.5px -15px;
  text-align: right;
}

.signed-out-nav, .signed-in-nav > a {
  padding-top: 6px;
  padding-bottom: 4px;
  line-height: 20px;
}

#flash {
  text-align: center;
}

.search_bar {
  text-align: center;
}

.footer {
  // position: absolute;
  bottom: 0;
  background-color: #f5f5f5;
}
