<h1>Beauty Places</h1>

<table class="table">
  <tbody>
  <% policy_scope(@beauty_places).each do |place| %>
    <tr>
      <td><%= link_to place.name, beauty_place_path(place) %></td>
      <td><%= link_to 'Edit', edit_beauty_place_path(place) %></td>
      <td><%= link_to 'Destroy', beauty_place_path(place), method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

  <%= link_to "new place", new_beauty_place_path %>
