<header class="navigation" role="banner">
  <%= render 'partials/nav' %>

  <% if user_signed_in? %>
    <ul class='list-inline helper-bar'>
      <li>Current Location: <%= current_user.city %>, <%= current_user.state %></li>
    </ul>
  <% end %>

</header>
